.conditions {
    /*padding-left: 0;*/
}
.conditions li {
    /*color:blue;*/
}


.extra {
    /*color: darkred;*/
    font-style:italic;
    line-height:1em;
    margin-bottom:2rem;
}

#monthly-geocodes,#daily-geocodes,#secondly-geocodes {
    width: 8em;
}

#autocomplete-multiplier {
    width: 4em;
}

/*************** Details about each plan **********************/

.plan-details {
    max-height:22em;
    overflow-y:scroll;
    /*background:#efe;*/
}

.plan-details-inner {
    border: 8px solid hsl(0,0%,97%);
    /*hsl(120,60%,90%);*/
    padding:1px;

}

/*.annual-price {
    color: hsl(120,80%,20%);
    font-weight:500;
    text-align:center;
    background:hsl(120,80%,80%);
    font-size:2rem;
    padding:1rem 0;
    margin: 0 -15px;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}*/
.annual-price {
    color: hsl(120,80%,20%);
    font-weight:500;
    text-align:center;
    background:hsl(120,80%,80%);
    font-size:2rem;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.spacer {
    /*text-align: right;*/
    /*bottom:0;*/
    /*position:absolute;*/
    /*right:0;*/
    margin-top:2em;
    padding-top:0;
    margin-bottom:5em;
}

.annual-price {
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    padding:1rem 0;
    margin-bottom:0;
    /*margin: 0 -15px;*/
}

.annual-price:hover {
    background:hsl(120,60%,60%);
    cursor:pointer;
}


.annual-price small {
    font-size:1rem;
}

#caveats {
    margin-top: 2em;
    
}

#caveats ul {
    font-size: 80%;
}

.title {
    text-align:center;
    background:hsl(200,80%,90%) !important;
    margin-bottom:2em;
}

.form-check-input {
   margin-left:0em;

}
.form-check-label{
    /*color:blue;*/
    margin-left:0em;
    padding-left:1em;
}

.radios .form-check-label{
    padding-left:0;
    margin-left: 0em;
}

#form {
    position: fixed;
    overflow-y:scroll;
    height: calc(100vh - 115px);
}

#form h4 {
    margin-left: -0.5em;
    /*margin-top:1em;*/
    /*padding:10em;*/
}



.usage {
    margin-bottom: 1em;
};

.details,.api {
    padding-left:0.5em;
    font-size:80%;
    list-style:none;
}

.con {
    color: red;
}